<table class="table table-bordered">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>名称</th>
			<th>类型</th>
			<th>状态</th>
			<th>仓库</th>
			<th>卖家好评</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% if @users.exists? %>
			<% @users.each do |user| %>
				<tr>
					<td><%= image_tag(user.avatar, width:48, height:48) %></td>
					<td><%= user.nick %><%= link_to "<i class='icon-share'></i>", user.store_url, target:'_blank' %></td>
					<td><%= user.type %></td>
					<td><%= user.status %></td>
					<td><%= user.addresses.count %></td>
					<td><%= user.seller_credit.good_num %><%= link_to "<i class='icon-share'></i>", user.rate_url, target:'_blank' %></td>
					<td><%= link_to "查看", url(:users, :show, :user_id => user.id), :class => "btn btn-mini" %></td>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<td>&nbsp;</td>
				<td colspan="6">还没有呢～～</td>
				<td><%= link_to '绑定店铺', url(:users, :new), class:'btn btn-mini' %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<% unless @sysinfo.nil? %>
  <div class='sysinfo'>
    <p class='sysinfo-dsk'><strong>硬盘：</strong> <%= @sysinfo[:disk][:total] %>GB 中 <%= @sysinfo[:disk][:free] %>GB 可用</p>
    <div class='progress sysinfo-dsk active'>
      <div class='bar' style='width: <%= @sysinfo[:disk][:perc] %>%;'></div>
    </div>
    <p class='sysinfo-mem'><strong>内存：</strong> <%= @sysinfo[:mem][:total] %>Mb 中 <%= @sysinfo[:mem][:free] %>Mb 空闲</p>
    <div class='progress progress-danger sysinfo-mem active'>
      <div class='bar' style='width: <%= @sysinfo[:mem][:perc] %>%;'></div>
    </div>
    <p class='sysinfo-cpu'><strong>CPU：</strong> 使用 <%= @sysinfo[:cpu][:perc] %>%</p>
    <div class='progress progress-warning sysinfo-cpu active'>
      <div class='bar' style='width: <%= @sysinfo[:cpu][:perc] %>%;'></div>
    </div>
    <p class='uptime'><i class='icon icon-off icon-white'></i><span> <%= @sysinfo[:uptime] %></span></p>
  </div>
<% end %>