<% content_for :header do %>
  <p class="lead">
    <%= date_tag(@range, ' ～ ') %> 客服数据（<%=link_to '导出', url(:subusers, :index, user_id: user_id, start_at: @start_at, end_at: @end_at, :format => :csv), target:'_blank' %>）
  </p>
<% end %>
<div class="span8 columns" style="overflow: auto;">

  <table id="subusers" class="table table-bordered">
    <thead>
    <tr>
      <th rowspan='2'>旺旺</th>
      <td colspan='4'>转化</td>
      <td colspan='3'>业绩</td>
      <td colspan='5'>压力</td>
      <th rowspan='2'>#</th>
    </tr>
    <tr>
      <th>未</th>
      <th>接待</th>
      <th>买</th>
      <th>率</th>
      <th>钱</th>
      <th>量</th>
      <th>客单</th>
      <th>问</th>
      <th>答</th>
      <th>率</th>
      <th>平均<br />等待</th>
      <th>在线<br />时间</th>
    </tr>
  </thead>
    <% unless @wangwangs.empty? %>
    <tbody>
  <% divider_date = nil %>
    <% @wangwangs.each do |wangwang| %>
      <% unless divider_date == wangwang.date %>
        <% divider_date = wangwang.date %>
        <tr>
          <th colspan='14'>
            <span class="badge badge-success"><%= short_date(divider_date.to_time) %></span>
          </th>
        </tr>
      <% end %>
      <tr>
        <td><%= wangwang.nick %></td>
        <td><%= wangwang.non_reply_num %></td>
        <td><%= wangwang.reply_num %></td>
        <td><%= wangwang.buyer_count %></td>
        <td><%= "#{wangwang.pay_rate}%" %></td>
        <td class="payment"><%= wangwang.payment.round(2) %></td>
        <td><%= wangwang.num %></td>
        <td><%= wangwang.price_avg %></td>
        <td><%= wangwang.questions_count %></td>
        <td><%= wangwang.answers_count %></td>
        <td><%= "#{wangwang.qna_rate}%" %></td>
        <td><%= wangwang.avg_waiting_times %></td>
        <td><%= wangwang.online_hours %></td>
        <td><%= link_to( "聊天记录" , url( :chatpeers, :show, user_id: user_id, uid: wangwang.nick, start_at: wangwang.talk_at ), class: 'btn btn-mini', target: '_blank') %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <% else %>
      <tr><td colspan='11'>时机未到，请耐心等待...</td></tr>
    <% end %>
  </table>
</div>
<% content_for :sidebar, partial("subusers/sidebar") %>