<div class="accordion-inner">
  <table class="table table-bordered" style="margin-bottom:0px;">
    <tr>
      <th>商家SKU</th>
      <th>价格</th>
      <th>库存</th>
      <th>周转天数</th>
      <th>周转量</th>
      <th>周转最高价</th>
      <th>周转最低价</th>
      <th>昨日销量</th>
      <th>昨日最高价</th>
      <th>昨日最低价</th>
      <th colspan='2'>属性</th>
    </tr>
    <% skus.each do |sku| # 循环单品 %>
      <tr id="sku-<%= sku.sku_id %>">
        <td><%= sku.outer_id %></td>
        <td><%= sku.price %></td>             
        <td><%= sku.quantity %></td>
        <td><%= sku.duration %></td>
        <td><%= sku.range_num %>
        <td><%= sku.range_max %></td> 
        <td><%= sku.range_min %></td>
        <td><%= sku.prev_num %></td>
        <td><%= sku.prev_max %></td> 
        <td><%= sku.prev_min %></td> 
        <% sku.to_hash.each do |key, value| %>
          <td title='<%= key %>'><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>