<% content_for :header do %>
	<p class="lead"><%= date_tag(@range, ' ～ ') %> 退款记录（<%=link_to '导出', url(:refunds, :index, :user_id => user_id, :start_at => @start_at,  :end_at => @end_at, :field => @field, :format => :csv), :target => '_blank' %>）</p>
<% end %>
<div class="span8 columns" style="overflow: auto;">
<table id="refunds" class="table table-bordered">
	<thead>
		<tr>
			<th>货品</th>
			<th>买家</th>
			<th>数量</th>
			<th>价格</th>
			<th>状态</th>
		</tr>
	</thead>
	<% unless @refunds.empty? %>
		<% @refunds.each do |refund| %>
			<tbody id="refund-<%= refund.id %>"> 
				<tr>
					<td class="span5">
						<%= refund.title %>
						<%= link_to "<i class='icon-share'></i>", "http://buy.tmall.com/detail/orderDetail.htm?bizOrderId=#{refund.oid}", :target => '_blank' %><br />
						<code><%= refund.oid %></code>
					</td>
					<td>
						<%= ww_link(refund.buyer_nick) %>
						<br />
						<%= chatlog_link(refund.buyer_nick) %>
					</td>
					<td><%= refund.num %></td>
					<td><%= refund.refund_fee.round(2) %></td>
					<td><%= refund.parse_status %></td>
				</tr>
				<tr>
						<td colspan="5">
							<% if refund.status == 'WAIT_SELLER_CONFIRM_GOODS' %>
								<span class='label label-important'><%= refund.company_name %></span><code><%= refund.sid %></code>
								<hr />
							<% end %>
							<span class='label'><%= refund.reason %></span><blockquote><%= refund.desc %></blockquote><br />
						</td>
				</tr>
			</tbody>
		<% end %>
	<% end %> 
</table>
</div>
<% content_for :sidebar, partial("refunds/sidebar") %>