<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th><%= total[:price].round(2)%></th>
      <th><%= total[:payment].round(2)%></th>
      <th><%= total[:total_fee].round(2)%></th>
      <th><%= total[:discount_fee].round(2)%></th>
      <th><%= total[:adjust_fee].round(2)%></th>
      <th><%= total[:num]%></th>
    </tr>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>价格</th>
      <th>实付</th>
      <th>应付</th>
      <th>折扣</th>
      <th>调价</th>
      <th>数量</th>
    </tr>
  </thead>
<tbody>  
<% items.each do |id, item| # 循环货品 %>
  <% if item.has_key?(current_tab) %>
    <tr id="item-<%= id %>" class="odd">
      <td><span class="label"><%= item[:name] %></span></td>
      <td class="span3"><%= item[:title] %><%= link_to "<i class='icon-share'></i>", "http://item.taobao.com/item.htm?id=#{id}", :target => '_blank' %></td>
      <% total = item[current_tab] %>
      <td><%= total[:price].round(2)%></td>
      <td><%= total[:payment].round(2)%></td>
      <td><%= total[:total_fee].round(2)%></td>
      <td><%= total[:discount_fee].round(2)%></td>
      <td><%= total[:adjust_fee].round(2)%></td>
      <td><%= total[:num]%></td>
    </tr>
    <% if item.has_key?(:skus) && !item[:skus].empty? %>
      <% item[:skus].each do |id, sku| # 循环单品 %>
        <% if sku.has_key?(current_tab) %>
          <tr id="sku-<%= id %>">
            <td><%= sku[:name] %></td>
            <td><%= sku[:title] %></td>
            <% total = sku[current_tab] %>
            <td><%= total[:price].round(2)%></td>
            <td><%= total[:payment].round(2)%></td>
            <td><%= total[:total_fee].round(2)%></td>
            <td><%= total[:discount_fee].round(2)%></td>
            <td><%= total[:adjust_fee].round(2)%></td>
            <td><%= total[:num]%></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %> 
<% end %> 
</tbody>
</table>