<div class="span4 columns">
	<% form_tag url(:trades, :index, user_id: user_id ), method:'get' do %>
	<div class="control-group">
    <label class="control-label" for="axis">类型：（日期）</label>
		<div class="btn-group" >
			<input type="radio" name="field" value="pay_time" id="pay_time" />
			<label class="btn <%= 'active' if @field == 'pay_time' %>" for="pay_time">支付</label>
			<input type="radio" name="field" value="consign_time" id="consign_time" />
			<label class="btn <%= 'active' if @field == 'consign_time' %>" for="consign_time">发货</label>
			<input type="radio" name="field" value="created" id="created" />
			<label class="btn <%= 'active' if @field == 'created' %>" for="created">下单</label>
			<input type="radio" name="field" value="modified" id="modified" />
			<label class="btn <%= 'active' if @field == 'modified' %>" for="modified">更新</label>
			<input type="radio" name="field" value="end_time" id="end_time" />
			<label class="btn <%= 'active' if @field == 'end_time' %>" for="end_time">结束</label>
		</div>
	</div>
	<div class="control-group">
    <label class="control-label" for="axis">纬度：</label>
		<div class="btn-group" >
			<input type="radio" name="axis" value="timeline" id="axis_timeline"  />
			<label class="btn <%= 'active' if @axis == 'timeline' %>" for="axis_timeline">时间轴</label>
			<input type="radio" name="axis" value="sku" id="axis_sku"  />
			<label class="btn <%= 'active' if @axis == 'sku' %>" for="axis_sku">SKU</label>
			<input type="radio" name="axis" value="state" id="axis_state"  />
			<label class="btn <%= 'active' if @axis == 'state' %>" for="axis_state">区域</label>
		</div>
	</div>
  <div class="control-group">
    <label class="control-label" for="unit">单位：（时间轴）</label>
    <div class="btn-group" >
      <input type="radio" name="unit" value="day" id="unit_day"  />
      <label class="btn <%= 'active' if @unit == 'day' %>" for="unit_day">时段</label>
      <input type="radio" name="unit" value="week" id="unit_week"  />
      <label class="btn <%= 'active' if @unit == 'week' %>" for="unit_week">天</label>
      <input type="radio" name="unit" value="month" id="unit_month"  />
      <label class="btn <%= 'active' if @unit == 'month' %>" for="unit_month">周</label>
      <input type="radio" name="unit" value="year" id="unit_year"  />
      <label class="btn <%= 'active' if @unit == 'year' %>" for="unit_year">月</label>
    </div>
  </div>
	<%= partial('shared/form_calendar', locals: {label: '销售区间：'}) %>
	<div class="control-group">
        <label class="control-label" for="level">格式：</label>
        <div class="btn-group" >
            <input type="radio" name="format" value="html" id="html" />
            <label class="btn active" for="html">页面</label>
            <input type="radio" name="format" value="csv" id="csv" />
            <label class="btn" for="csv">导出CSV</label>
        </div>
  </div>
  <div class="control-group">
        <label class="control-label" for="email">邮件投递：（导出CSV时，有效）</label>
        <div class="controls">
            <%= select_tag(:email, collection: @employees, fields: [:name, :email], placeholder: '可选', multiple: true, class: 'chzn-select') %>
        </div>
  </div>
	<div class="form-actions">
		<%= submit_tag '筛选', class:'btn btn-primary' %>
	</div>
<% end %>
</div>