<% total = @trades[:total] %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= total[:price].round(2)%></th>
      <th><%= total[:payment].round(2)%></th>
      <th><%= total[:total_fee].round(2)%></th>
      <th><%= total[:discount_fee].round(2)%></th>
      <th><%= total[:adjust_fee].round(2)%></th>
      <th><%= total[:num]%></th>
    </tr>
    <tr>
      <th>名称</th>
      <th>价格</th>
      <th>实付</th>
      <th>应付</th>
      <th>折扣</th>
      <th>调价</th>
      <th>数量</th>
    </tr>
  </thead>
<tbody>  
<% @trades[:state].each do |id, state| # 循环货品 %>
<% total = state[:total] || state[:sale] %>
    <tr class="odd">
      <td><span class="label"><%= state[:name] %></span></td>
      <td><%= parse_sales(state, :price, 2) %></td>
      <td><%= parse_sales(state, :payment, 2) %></td>
      <td><%= parse_sales(state, :total_fee, 2) %></td>
      <td><%= parse_sales(state, :discount_fee, 2) %></td>
      <td><%= parse_sales(state, :adjust_fee, 2) %></td>
      <td><%= parse_sales(state) %></td>
    </tr>
<% end %> 
</tbody>
</table>