<% form_tag 'https://login.taobao.com/member/login.jhtml', method: 'post', 'accept-charset' => 'GBK', target: '_blank') do %>
  <div class="control-group">
    <label class="control-label">帐号</label>
    <div class="controls"><%= text_field_tag 'TPL_username', placeholder: "必填项" %></div>
  </div>
  <div class="control-group">
    <label class="control-label">密码</label>
    <div class="controls"><%= password_field_tag 'TPL_password', placeholder: "必填项" %></div>
  </div>
  <div class="form-actions">
    <%= hidden_field_tag 'action', value: 'Authenticator' %>
    <%= hidden_field_tag 'event_submit_do_login', value: 'anything' %>
    <%= submit_tag "登录", :class => 'btn btn-primary' %>
  </div>
<% end %>
<% form_tag 'http://ecrm.taobao.com/membermarketing/promotion_home.htm', method: 'post', 'accept-charset' => 'GBK', target: '_blank') do %>
  <div class="control-group">
    <label class="control-label">优惠卷</label>
    <div class="controls">
      <%= select_tag 'filterParam[shopBonusDiscount]', options: [['3元', 3], ['5元', 5], ['10元', 10], ['20元', 20], ['50元', 50], ['100元', 100]], include_blank: '请选择额度' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">有效期至</label>
    <div class="controls"><%= text_field_tag 'filterParam[shopBonusEndtime]', placeholder: "必填项" %></div>
  </div>
  <div class="control-group">
    <label class="control-label">会员</label>
    <div class="controls"><%= text_area_tag :members %></div>
  </div>
  <div class="form-actions">
    <%= hidden_field_tag 'action', value: 'membermarketing/member_promotion_action' %>
    <%= hidden_field_tag 'event_submit_do_send_from_member_list', value: 'anything' %>
    <%= hidden_field_tag 'filterParam[sendShopBonus]', value: 1 %>
    <%= hidden_field_tag 'parambin', value: 'currentPage=1' %>
    <%= submit_tag "发送店铺优惠券", :class => 'btn btn-primary' %>
  </div>
<% end %>